body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
.my-banner img {
  width: 100%;
  object-fit: contain;
}
#amount-zero-warning {
  position: absolute;
  right: 1rem;
  text-align: right;
  color: #e92043;
  font-style: italic;
}
.navbar-nav li.nav-item {
  border-bottom: 1px solid transparent;
}
.navbar-nav li.nav-item-active {
  border-bottom: 1px solid #50b5ff;
}
.partner-row img {
  width: 100%;
  object-fit: contain;
}
.footer ul.nav {
  position: relative;
  z-index: 10;
}
.footer a.nav-link .fab {
  font-size: 1.25rem;
}
.bg-dark {
  background-color: #000 !important;
}
.pointer {
  cursor: pointer;
}
